<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ojt.moviescore.UserMapper">

    <select id="getMovieList" resultType="com.ojt.moviescore.model.dto.movieDto">
        SELECT
            nMovieSeq,
            nMovieTitle,
            nMovieStory,
            dtOpeningDate,
            sMovieDirector,
        FROM
            tMovieList
        ORDER BY
            dtOpeningDate DESC
    </select>

    <select id="getMovie" resultType="com.ojt.moviescore.model.dto.movieDto">
        SELECT *
        FROM
            tMovieList LIMIT 1
    </select>

    <select id="countMovie" resultType="int">
        SELECT
            COUNT(*) AS COUNT
        FROM
            tMovieList
    </select>
</mapper>