<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html :: fragment-head"></head>
<head>
<!-- moviedetail css/js -->
<script type="text/javascript" th:src="@{/js/moviedetail.js}"></script>
<link th:href="@{/css/moviedetail.css}" rel="stylesheet" />

</head>
<body>

<div class="container py-4">

	<div th:replace="/fragments/header.html :: fragment-header"></div>
	<input type="hidden" id="movieSeq" th:value="${movieSeq}">
    <div class="content shadow-lg p-3 mb-5 bg-body rounded">
        <div class="movieImage"><img th:src="${movieDto.sMovieImage}" ></div>

        <div class="movieInfomation">
        	<div class="movieTitle" th:text="${movieDto.sMovieTitle}"></div>
        	<p class="fs-5 movieStory" th:text="${movieDto.sMovieStory}"></p>
        	<p class="fs-3 movieScoreAvg">평점 : </p>
        	<div>
        		<button type='button' class='btn btn-warning' th:if="${session.sUserAuth == 'admin'}" onclick='updateClick();'>수정</button>
    			<button type='button' class='btn btn-dark' th:if="${session.sUserAuth == 'admin'}" onclick='deleteClick();' >삭제</button>
    		</div>
        </div>
    </div>
    
    <div class="movieScore">
        	<div class="scoreList">
        		<table class="table" id="scoreTable">
        			<thead>
        			</thead>
        			<tbody>
        			</tbody>
        		</table>
        	</div>
        </div>
</div>


</body>
</html>
