<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html :: fragment-head"></head>
<head>
<!-- moviedetail css/js -->
<script type="text/javascript" th:src="@{/js/moviedetail.js}"></script>
<link th:href="@{/css/moviedetail.css}" rel="stylesheet" />

</head>
<body>

<div class="container py-4">

	<div th:replace="/fragments/header.html :: fragment-header"></div>
	<input type="hidden" id="movieSeq" th:value="${movieSeq}">
    <div class="content shadow-lg p-3 mb-5 bg-body rounded">
        <div class="movieImage"><img th:src="${movieDto.sMovieImage}" ></div>

        <div class="movieInfomation">
        	<div class="movieTitle" th:text="${movieDto.sMovieTitle}"></div>
        	<p class="fs-5 movieStory" th:text="${movieDto.sMovieStory}"></p>
        	<p class="fs-3 movieScoreAvg">평점 : </p>
        	<div>
        		<button type='button' class='btn btn-warning' onclick='updateClick();'>수정</button>
    			<button type='button' class='btn btn-dark' onclick='deleteClick();' >삭제</button>
    		</div>
        </div>
    </div>
    
    <div class="movieScore">
            <!--로그인 했을 때만 나옴-->
            <div>
            	<p>평점
            	<input type="radio" id="scoreRadio1" name="scoreRadio" checked="checked" value="1">1
				<input type="radio" id="scoreRadio2" name="scoreRadio" value="2">2
				<input type="radio" id="scoreRadio3" name="scoreRadio" value="3">3
				<input type="radio" id="scoreRadio4" name="scoreRadio" value="4">4
				<input type="radio" id="scoreRadio5" name="scoreRadio" value="5">5
				</p>
				
        		  <textarea class="form-control" placeholder="간략한 평가 내용(최대 450자)" id="inputComment" style="height: 100px"></textarea>
        		<button type="button" class="btn btn-primary" id="inputScore">등록</button>
        	</div>

        	<div class="scoreList">
        		<table class="scoreTable table-primary">
        			<thead>
        			</thead>
        			<tbody>
        			</tbody>
        		</table>
        	</div>
        </div>
</div>


</body>
</html>
