<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ojt.movie.mapper.MovieMapper">

    <select id="selectMovieList" parameterType="int" resultType="com.ojt.movie.model.dto.MovieDto">
        SELECT
            nMovieSeq,
            sMovieTitle,
            sMovieStory,
            sMovieImage,
            dtOpeningDate,
            sMovieDirector
        FROM
            tMovieList
        ORDER BY
            dtOpeningDate DESC
        LIMIT #{startNum}, 10
    </select>

    <select id="movieTotalCount" resultType="int">
        SELECT
            COUNT(*) AS COUNT
        FROM
            tMovieList
    </select>

    <select id="genreList" resultType="com.ojt.movie.model.dto.GenreDto">
        SELECT
            sGenreId,
            sGenreName
        FROM
            tMovieGenre
    </select>

    <insert id="insertMovie" parameterType="com.ojt.movie.model.dto.MovieDto">
        INSERT INTO
            tMovieList (
                sMovieTitle,
                sMovieStory,
                sMovieImage,
                dtOpeningDate,
                sMovieDirector,
                sGenreId
            )
        VALUES (
                #{sMovieTitle},
                #{sMovieStory},
                #{sMovieImage},
                #{dtOpeningDate},
                #{sMovieDirector},
                #{sGenreId}
        )
    </insert>

    <select id="selectMovieSearch" resultType="com.ojt.movie.model.dto.MovieDto">
        SELECT
            sMovieTitle,
            sMovieStory,
            sMovieImage,
            dtOpeningDate,
            sMovieDirector
        FROM
            tMovieList
        WHERE
            nMovieSeq = #{nMovieSeq}
    </select>

    <delete id="deleteMovie" parameterType="int">
        DELETE FROM
            tMovieList
        WHERE
            nMovieSeq = #{nMovieSeq}
    </delete>

    <update id ="updateMovie" parameterType="com.ojt.movie.model.dto.MovieDto">
        UPDATE
            tMovieList
        SET
            sMovieTitle = #{sMovieTitle},
            sMovieStory = #{sMovieStory},
            sMovieImage = #{sMovieImage},
            dtOpeningDate = #{dtOpeningDate},
            sMovieDirector = #{sMovieDirector},
            sGenreId = #{sGenreId}
        WHERE
            nMovieSeq = #{nMovieSeq}
    </update>

    <select id="movieScoreList" parameterType="int" resultType="com.ojt.movie.model.dto.MovieScoreDto">
        SELECT
            sScoreComment,
            nScore,
            DATE_FORMAT(dtScoreDate,'%Y-%m-%d') as dtScoreDate,
            nMovieSeq,
            ms.sUserEmail as sUserEmail,
            ul.sUserNickName as sUserNickName
        FROM
            tMovieListScore ms
        INNER JOIN tUserList ul ON ms.sUserEmail = ul.sUserEmail
        WHERE
            nMovieSeq = #{nMovieSeq}
        ORDER BY
            dtScoreDate DESC
        LIMIT 0, 5
    </select>

    <select id="movieScoreSum" parameterType="int" resultType="int">
        SELECT
            IFNULL(sum(nScore), 0) as nScoreSum
        FROM
            tMovieListScore
        WHERE
            nMovieSeq = #{nMovieSeq};
    </select>

    <select id="movieScoreCount" parameterType="int" resultType="int">
        SELECT
            COUNT(*) as nScoreCount
        FROM
            tMovieListScore
        WHERE
            nMovieSeq = #{nMovieSeq};
    </select>

</mapper>