<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ojt.movie.mapper.MovieMapper">

    <select id="selectMovieList" resultType="com.ojt.movie.model.dto.MovieDto">
        SELECT
            nMovieSeq,
            sMovieTitle,
            sMovieStory,
            sMovieImage,
            dtOpeningDate,
            sMovieDirector
        FROM
            tMovieList
        ORDER BY
            dtOpeningDate DESC
        LIMIT 0, 10
    </select>

    <select id="movieTotalCount" resultType="int">
        SELECT
            COUNT(*) AS COUNT
        FROM
            tMovieList
    </select>
</mapper>