<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ojt.movie.mapper.UserMapper">

    <select id="signIn" parameterType="String" resultType="com.ojt.movie.model.dto.UserDto">
        SELECT
            sUserEmail,
            sUserPassword,
            sUserNickName,
            sUserAuth
        FROM
            tUserList
        WHERE
            sUserEmail = #{sUserEmail}
    </select>

    <insert id="saveUser" parameterType="com.ojt.movie.model.dto.UserDto">
        INSERT INTO tUserList
            (sUserEmail, sUserPassword, sUserNickName, sUserAuth)
        VALUES
            (#{sUserEmail}, #{sUserPassword}, #{sUserNickName}, #{sUserAuth})
    </insert>

    <select id="findUserEmail" parameterType="String" resultType="int">
        SELECT
            COUNT(sUserEmail) AS COUNT
        FROM
            tUserList
        WHERE
            sUserEmail = #{sUserEmail}
    </select>

    <select id="findUserNickName" parameterType="String" resultType="int">
        SELECT
            COUNT(sUserNickName) AS COUNT
        FROM
            tUserList
        WHERE
            sUserNickName = #{sUserNickName}
    </select>

</mapper>